#blocpage {
    width: 100%;
}

.logo {

    display: inline-block;
    margin: 0px;
    margin-right: 0px;

    width: 20%;
}

.titre2 {
    margin-top: 0px;
    font-weight: 800;
    font-size: 1.2em;

}
.blockNav1 :hover { border-top: #0065FC;
color: #0065FC;}

.menu {

    margin-top: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;




}

.info .fas {
    color: #0065FC;
    border: solid;
    border-color: #deebff;
    border-width: thin;
    border-radius: 100px;
    width: auto;
    height: auto;
    padding:5px 8px 5px 8px;
    
   
}

.li2 li {
    padding: 20px;
}

button {
    margin-left: 40px;

    border: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #0065fc;
    background-color: #0065FC;
    font-weight: bold;
    color: white;
    padding: 10px;
}

input {
    border: solid;

    border-color: white;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}


.form .fas {
    border: solid;

    border-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    background-color: #f2f2f2;
    margin-left: 0px;
    padding-top: 8px;
    padding-right: 11px;
    padding-left: 11px;
    padding-bottom: 11px;

}

.formulaire {
    width: 23.5%;
    border: solid;
    border-width: 1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-color: #f2f2f2;
}

.filtres {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

/*
    .filtres:hover{color: palevioletred;
    text-decoration: underline
    ;}

    .filtres .fas:hover{color:palevioletred;}
*/
.li1 li {

    padding-right: 15px;

    margin: 3px;
    font-weight: bold;

    border: solid;
    border-width: 1px;
    border-color: #deebff;
    border-radius: 50px;
}

.marseille {
    padding-left: 32px;

    padding-bottom: none;

    margin-bottom: none;
    width: 100%;
    height: 30px;
}






.n2 {
    color: #0065fc;
    font-weight: bold;
    text-decoration: none;
}

.filtres {
    font-weight: bold;

}


.filtre {
    display: flex;
    justify-content: start;
}

.f1 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    margin: 0px
}


.filtres .fas {
    color: #0065fc;
  
    border: solid;
    border-color: #deebff;
    background-color: #deebff;
    border-radius: 100px;
    padding: 10px;
  }
  
  .filtres li:hover {
    color: aqua;
    
  }
  
  .filtres li:hover .fas {
    color: aqua;
  }
  




body {
    font-family: 'Raleway', 'sans serif';
}


.section1 {
    display: flex;
    justify-content: space-between;
}

.sectionp1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    border: solid;
    border-color: #f2f2f2;
    border-radius: 20px;

    width: 65%;
    height: 30%;
    background-color: #f2f2f2;
}

.hebergementsp1top {
    line-height: 5px;

    border: solid;
    border-color: white;

    border-radius: 30px;
    background-color: white;
    height: auto;
    margin: auto;

    margin-bottom: 30px;



}

.hebergementsp1top .fas {
    color: #0065FC;
}





.hebergementsp1 {
    line-height: 5px;
    border: solid;
    border-color: white;
    border-radius: 30px;
    background-color: white;
    margin: auto;
    padding: auto;
}

.hebergementsp1 .fas {
    color: #0065FC;
}






.afficher {
    text-align: left;
    width: 100%;

}


.sectionp2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    width: 30%;
    height: auto;

    background-color: #f2f2f2;
    border: solid;
    border-color: #f2f2f2;
    border-radius: 10px;


}

.sectionp2 .fas {
    color: #0065FC;
}

.greystars .fas {
    color:lightgrey;
}

.pop {
    margin-left: 30px;
    margin-bottom: 0px;
}

.hebergementsp2 {
    line-height: 5px;
    display: flex;


    border: solid;
    border-color: white;
    border-radius: 30px;
    background-color: white;
    width: 85%;
    margin-top: 30px;
    margin-left: 30px;
    padding: none;

}

.coeureau{

    line-height: 18px;
}








.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}



.pic1 {
    border: solid;
    border-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 360px;
    height: 420px
}

.pic2 {
    border: solid;
    border-color: transparent;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    width: 360px;
    height: 170px;
}

.activités {
    width: 100%;
}

.vieuxport {
    justify-content: left;
    border: solid;
    border-color: #f2f2f2;
    border-width: thin;
    border-radius: 10px;
    margin-right: 1px;
    padding-right: 1px;
}

.activitésvertical {
    display: flex;
    flex-direction: column;
}




.calanques {
    border: solid;
    border-color: #f2f2f2;
    border-width: thin;
    border-radius: 10px;

}

.activitésp {
    border: solid;
    border-color: #f2f2f2;
    border-width: thin;
    border-radius: 10px;
    margin: auto;
    padding: auto;
}




footer {
    display: flex;
    justify-content: start;



    background-color: #f2f2f2;
}



.apropos {
    padding-right: 200px;
}

.nh {
    padding-right: 200px;
}

.photoBord1 {
    width: 300px;
    height: 170px;
    border-radius: 15px 15px 0 0;
    padding: 1px;

}

.photoBord2 {
    border-radius: 15px 0px 0px 15px;
    width: 180px;
    height: 180px;
    padding: 1px;
}





@media all and (max-device-width: 480px) {
    .button {
        border: solid;
        border-color: #0065FC;
    }


    .filtre {
        display: flex;
        flex-direction: column;
        padding-right: none;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        padding-right: none;
    }

    .section1 {
        display: flex;
        flex-direction: column;
    
        margin: auto;
    }
.sectionp1{ width: 100%;}
    .sectionp2 {
        width: 100%;
    }



    .section2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .pic1 {
        width: 95%;
    }

    .pic2 {
        min-width: 480px;
    }

    .photoBord1 {
        width: auto;
    }




    footer {
        display: flex;
        flex-direction: column;
    }
}

