img {
    object-fit: cover;
}

h2 {
    font-size: 1.08em;
}

/* modif */
a{
    color:black;
}
a:visited{
    color:unset;
}

#blocpage {
    width: 100%;
}

.logo {

    display: inline-block;
    margin: 0px;
    margin-right: 0px;

    width: 20%;
}

.bri {
    display: none;
}


.titre2 {
    margin-top: 0px;
    font-weight: 800;
    font-size: 1.4em;

}

/* modif */
#blockNav1:hover,#blockNav2:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;

}

#hebergement:hover {

    color: #0065FC;
}

#activites:hover {

    color: #0065FC;
}

/* modif */
#blockNav2:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;

}

.menu {

    margin-top: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;




}

/* modif */
.menu a{
color:#505050;
}

.info {
    margin-bottom: 30px;
    margin-top: 10px;
}

.info .fas {
    color: #0065FC;
    border: solid;
    border-color: #deebff;
    border-width: thin;
    border-radius: 100px;
    width: auto;
    height: auto;
    padding: 5px 8px 5px 8px;


}

.li2 li {
    padding: 20px;
}


input {
    border: solid;

    border-color: white;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}


.form .fas {
    border: solid;

    border-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    background-color: #f2f2f2;
    margin-left: 0px;
    padding-top: 8px;
    padding-right: 11px;
    padding-left: 11px;
    padding-bottom: 11px;

}

.input1 {
    outline: 0;
}

.formulaire {
    width: 23.5%;
    border: solid;
    border-width: 1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-color: #f2f2f2;
    position:relative;
}

button {
    position: absolute;
    right: auto;
    margin-left: 40px;

    border: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #0065fc;
    background-color: #0065FC;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.filtres {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 10px;

}

/*
    .filtres:hover{color: palevioletred;
    text-decoration: underline
    ;}

    .filtres .fas:hover{color:palevioletred;}
*/
.li1 li {

    padding-right: 15px;

    margin: 3px;
    margin-right: 15px;
    font-weight: bold;

    border: solid;
    border-width: 1px;
    border-color: #deebff;
    border-radius: 50px;
}


.marseille {
    margin-top: 0px;

    margin-bottom: 20px;
    


    padding-left: 50px;

    width: 100%;
    height: 30px;
}






.n2 {
    color: #0065fc;
    font-weight: bold;
    text-decoration: none;
}

.filtres {
    font-weight: bold;


}


.filtre {
    display: flex;
    justify-content: start;
}

.f1 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    margin: 0px
}


.filtres .fas {
    color: #0065fc;

    border: solid;
    border-color: #deebff;
    background-color: #deebff;
    border-radius: 100px;
    padding: 10px;
}

.filtres li:hover {
    color: aqua;

}

.filtres li:hover .fas {
    color: aqua;
}





body {
    font-family: 'Raleway', 'sans serif';
}


.section1 {
    display: flex;
    justify-content: space-between;
}

.sectionp1 {
    position: relative;
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    /* border: solid;
    border-color: #f2f2f2;*/
    border-radius: 20px;

    width: 65%;
    height: 30%;
    background-color: #f2f2f2;
}

.sectionp1 a {
    display: block;
    width: 28%;
    margin: 0 15px 0 15px;

    margin-bottom: 30px;
}


/*#auberge{
    margin:0 15px 0 15px;

}

#amina{
    margin:0 15px 0 15px;
}*/


.hebergementsp1 {

    line-height: 5px;
    border: 3px solid white;
    border-color: white;
    border-radius: 15px;
    background-color: white;
    box-shadow: 6px 6px 6px lightgrey;
    


}

.hebergementsp1 .fas {
    color: #0065FC;
    
}






.afficher {
    text-align: left;
    padding-left: 25px;
    width: 100%;

}


.sectionp2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    width: 30%;
    height: auto;

    background-color: #f2f2f2;
    border: solid;
    border-color: #f2f2f2;
    border-radius: 10px;


}

.sectionp2 .fas {
    color: #0065FC;
}

.greystars .fas {
    color: lightgrey;
}

#pop {
    margin-left: 30px;
    margin-bottom: 0px;
}

#pop .fas {
    float: right;
    color: black;
    margin-right: 35px;
}


.hebergementsp2 {
    line-height: 3px;
    display: flex;


    border: solid;
    border-color: white;
    border-radius: 15px;
    background-color: white;
    box-shadow: 6px 6px 6px lightgrey;
    width: 85%;
    margin-top: 30px;
    margin-left: 30px;
    height: 162px;


}

.stars{font-size: 12px;
   
    
    
}
.stars1, .star{font-size: 12px;}


h2{text-indent: 5px;}

.prix{ font-size: 0.9em;
    text-indent: 5px;
line-height: 15px;
margin-bottom: 20px;}

#h3titre {
    line-height: 18px;
}

.lh {

    line-height: 18px;
}








.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}



.pic1 {
  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 360px;
    height: 420px;
}

.pic2 {
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    width: 360px;
    height: 170px;
}
#activi{position: relative;}
.activités {position: absolute;
    top:10px;
    width: 100%;
}



.vieuxport {
    justify-content: left;
    border: solid;
    border-color: transparent;

    border: none;

    border-radius: 10px;
    margin-right: 1px;
    margin-bottom: 10px;
    padding-bottom: 2px;

    box-shadow: 6px 6px 6px #f2f2f2;

}

.activitésvertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

#pom{height: 85%;}

#pomègues{
    flex-grow:2;
    height:230px;
}


#frioul {
    flex-grow: 1;
    margin-top: 7px;
}
#fri{height: 120px;}
#parc {

    margin-top: 7px;
}


.calanques {
    border: none;
    width: auto;


    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 6px #f2f2f2;

}

.activitésp {
    border:none;
    width: auto;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #f2f2f2;
    margin-bottom: 5px;

}


/* modif */
footer {
    display: flex;

    background-color: #f2f2f2;
    margin-bottom:-8px;
    margin-left:-8px;
    padding-left:10px;
    padding-right:10px;
}



.apropos {
    width: 30%;
}

.nh {
    width: 30%;
}

.assistance {
    width: 30%;
}

.photoBord1 {
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
    padding: 1px;

}

.photoBord2 {
    border-radius: 15px 0px 0px 15px;
    width: 160px;
    height: 160px;
    padding: 1px;
}

#boutonRD {

    color: blue;

}

#boutonRD .fas {


    display: none;
}

a {
    text-decoration: none;


}

.hebergementsp1top,
.hebergementsp1,
.vieuxport,
.activitésp,
.calanques,
.hebergementsp2 {

    text-decoration: none;
    color: black;

}








@media (min-width: 375px) and (max-width: 767px) {
    
    body{
        
        padding: 0;
        margin: 0 0 0 0 ;
    }

    /* modif */
    .afficher h3{
        padding-left:40px;
    }

    .titre2{
        padding-top:30px;
    }

    .formulaire {
        width: 95%;
        
    }

    .button {
        border: solid;
        border-color: #0065FC;
        
    }

    #boutonR {

        display: none;
        
    }

    #boutonRD .fas {

        display: block;
        color: white;
        background-color: #0065FC;
        align-items: center;
        width: 30px;
        float: right;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        padding-right: 0.6px;
       
        
    }

    #blockNav1 {
        border: solid;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom-color: #f2f2f2;
        margin-bottom: 50px;
        margin-top: 60px;
        margin-right: 0px;

        padding-right: 40px;
        



    }

    #blockNav2 {
        border: solid;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom-color: #0065FC;
        margin-bottom: 50px;
        margin-top: 60px;
        margin-right: -95px;
        padding-left: 85px;
        padding-right: 0px;

        width: 100px;
        


    }

    #blockNav1:hover, #blockNav2:hover{
        border-top:2px solid white;
    }


    .n2 {
        height: 10px;
        
    }





    .titre2 {width: 100%;
        margin: 50px 0 0 0;
        text-align: justify;
       

    }

    a {
        text-decoration: none;
        color: #0065FC;
        
    }

    .sectionp1:nth-child(1) {
        order: 2;
    }

    /* modif */
    .sectionp1 a{
        display:inline-block;
        width:100%;
        margin:0 15px 30px 15px;
        padding-left:10px;
    }

    .hebergementsp1{
        width:inherit;
    }

    .filtre {width: 100%;
        display: flex;
        flex-direction: column;
        

    }

    .filtres {
        display: flex;
        flex-wrap: wrap;
        padding-left: 15px;
        width: 100%;
        

    }

    #familial {
        margin-left: 30px;
    }

    .section1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        
    }

    .section1 {
        
        background-color: white;
        border-color: white;
    }

    .sectionp1{

        background-color: white;
        align-content: center;
       
        
    }
#pop{margin-left: 0;}


    .sectionp2 {
        
        width: 100%;
        margin-left: 0;
        border-radius: 0;
        padding-right: 0px;
        padding-left: 0px;
    
    }

    .hebergementsp2 {
        width: 95%;
        margin-left: 0%;
        margin-bottom: 2px;
        
    }


    .sectionp1{
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .marseille{
        width: 90%;

        
        margin-left: 0;
        padding-left:30px;
        padding-right: 0%;
       
      
       
       
    }

    /*
    .hebergementsp1{
        
        width: 90vw;
        
        margin-left: 0px;

    }
    */



    #activi { position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 15%;
        
    }
    .activités{position: absolute;
    top:0px}
    .activitésp{padding-bottom: 1px;
    margin-bottom: 5%;}
#pomègues{ padding-bottom: 1px;
    margin-bottom: 5%;
}
#pom{width:100% ;
height:180px ;}
#fri{height: 180px;}
.vieuxport, .calanques{margin-bottom: 5%;}
    .section2 a{
        color: black;
    }

    .pic1 {
        width: 100%;
        height: 180px;
    }

    .pic2 {
        width: 100%;
        height: 180px;
    }


    .photoBord1 {
        width: 100%;
        height: 120px;
    }

    .photoBord2 {
        width: 150px;
        height: 150px;
    }


footer{
        display: flex;
        flex-direction: column;
        width: 95%;
      
}




    .apropos, .nh, .assistance{
        
        display: flex;
        flex-direction: column;
        margin-left: 6%;
        background-color: #f2f2f2;
        width: 95%;

    }

    /*
    .li2, .menu{
        width:105%;
    }
    */

    #blockNav1:hover,#blockNav2:hover{
        color: #0065FC;
        border-bottom-color:#0065FC;
    }
}


@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .formulaire {
        width: 35%;
    }

    #boutonR {
        position: absolute;
        right: auto;
    }

    .section1 {
        display: flex;
        flex-direction: column;
    }

    .li1 li {
        margin-right: 0px;
    }

    .sectionp1 {width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
        
    }

    .hebergementsp1 {
        margin-right: 50px;
        width: 100%;
    }



    .sectionp2 {
        width: 100%;
        margin-top: 20px;
    }
    #activi{position: relative;
        padding-top: 8%;
        width: 100%;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: space-evenly;}
.activités{position: absolute;
top: 0px;}
#pomègues{margin-bottom: 5%;
padding-bottom: 5%;}
#frioul, #nd, #parc{padding-bottom: 5%;}
    footer {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    h2 {
        font-size: 1.03em;
    }

    .photoBord1 {

        width: 100%;
        height: 95px;



    }


}

@media only screen and (min-width : 1025px) /* and (max-width : 1400px)*/ {

    h2{line-height: 10px;}

    .formulaire {
        width: 300px;
        position: relative;
    }

    #boutonR {
        position: absolute;
        right: auto;
    }

    .sectionp1 {
        width: 65%;
        padding: 7% 1% 0 1%;
    }

    .sectionp1 a {
        width: 28%;
        padding: 0 0 0 0;
    }

    .sectionp2 {
        width: 30%;
    }

    .photoBord1 {

        width: 100%;
        height: 130px;



    }

    .photoBord2 {
        width: 145px;
        height: 145px;
        
        
    }


    .hebergementsp1 {

        width: 99%;


    }



    .hebergementsp2 {
        width: 90%;
        height: 147px;
        margin-left: 5px;
        padding: 0 0 0 0;
    }


    .marseille {

        margin-top: -6%;
        margin-bottom: 50px;
        margin-left: 50px;
        position: absolute;
        padding-left: 5%;

        width: 100%;
        height: 30px;
    }

    h2 {
        font-size: 1.08em;
    }


    
    .stars{
        position: absolute;
        bottom:auto;
      
        
        width: 90px;
        height: 50px;
        
        
    }
    
    .stars1{
        position: absolute;
        
        width: 90px;
        height: 50px;
        padding: 0 0 0 0;
        margin: 20px 0 0 0;
        
    }



    .activités{
       /* background-color:tomato;*/
    width: 30%;
height: 10%;
position:absolute;


margin-top:-1.3% ;
}

    .section2
    
    {width: 100%;
        /*background-color: teal;*/
        
        padding-top: 5%;
        
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #pomègues{ margin-bottom: 45px;
    padding-bottom: 5%;}
#frioul{ padding-bottom: 1%;}
#nd{padding-bottom: 1%;
    margin-bottom: 17px;}
    #parc{padding-bottom: 1%;}
    

 .activitésvertical, .calanques, .vieuxport{width: 24%;
height: 100%;}
 .pic1,.pic2{width: 100%;}




}


